.locked {
    background-color: rgb(210, 209, 255);
    white-space: nowrap;
}
.unlocked {
    background-color: rgb(219, 255, 219);
    white-space: nowrap;
}

.active {
    background-color: rgb(219, 255, 219);
    white-space: nowrap;
}

.inactive {
    background-color: rgb(196, 196, 196);
    white-space: nowrap;
}

td {
    white-space: nowrap;
    padding-left: 2px;
    padding-right: 2px;
    /* border: 1px solid white; */
}

.trukket {
    font-weight: normal;
    font-size: 0.8em;
}

input[type=submit].ny {
    margin: 2px;
    padding: 2px 5px 2px 5px;
    height: 25px;
}

input[type=submit] {
    font-size: 0.8em;
    line-height: 0.8em;
    border: 0;
    margin: 0;
    height: 18px;
}

input[type=text] {
    font-size: 0.8em;
    line-height: 0.8em;
    border: 1;
    margin: 0;
    height: 18px;
}

.warning:hover {
    background-color: rgb(255, 75, 75);

}

.lagny {
    padding: 5px 0 10px 0;
}
